<section class="app-container">

  <!-- Cart/ Basket -->
  <aside class="app-container__basket desktop-only">
    <app-basket></app-basket>
  </aside>

  <!-- Customer Information -->
  <section class="app-container__content">

    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>

    <section class="content-container">

      <div class="social-buttons">
        <a routerLink="" class="app-button app-button--paypal">
          <img src="assets/images/paypal.jpg" />
        </a>
        <a routerLink="" class="app-button app-button--amazon">
          <img src="assets/images/amazon-pay.jpg" />
        </a>
      </div>

      <h3 class="divider"><span>Or</span></h3>

      <form class="app-form" [formGroup]="customerForm" (ngSubmit)="continue()">
        <h2>Contact Information</h2>

        <div class="app-form-input app-form-input--block" [class.hasValue]="customerForm.value.email">
          <label class="app-form-input__label">Email</label>
          <input type="email" formControlName="email" placeholder="Email Address" />
        </div>

        <div class="app-form-input app-form-input--checkbox">
          <label>
            <input type="checkbox" formControlName="keep" />
            <span></span>Keep me up to date on news and exclusive offers
          </label>
        </div>

        <br />
        <h2>Shipping Address</h2>

        <div class="app-form-input-group app-form-input-group--twoCols">
          <div class="app-form-input" [class.hasValue]="customerForm.value.firstName">
            <label class="app-form-input__label">First Name</label>
            <input type="text" formControlName="firstName" placeholder="First Name" />
          </div>
          <div class="app-form-input" [class.hasValue]="customerForm.value.lastName">
            <label class="app-form-input__label">Last Name</label>
            <input type="text" formControlName="lastName" placeholder="Last Name" />
          </div>
        </div>

        <div class="app-form-input app-form-input--block" [class.hasValue]="customerForm.value.company">
          <label class="app-form-input__label">Company</label>
          <input type="text" formControlName="company" placeholder="Company (optional)" />
        </div>

        <div class="app-form-input app-form-input--block" [class.hasValue]="customerForm.value.address">
          <label class="app-form-input__label">Address</label>
          <input type="text" formControlName="address" placeholder="Address" />
        </div>

        <div class="app-form-input app-form-input--block" [class.hasValue]="customerForm.value.apartment">
          <label class="app-form-input__label">Apartment</label>
          <input type="text" formControlName="apartment" placeholder="Apartment, suite, etc. (optional)" />
        </div>

        <div class="app-form-input app-form-input--block" [class.hasValue]="customerForm.value.city">
          <label class="app-form-input__label">City</label>
          <input type="text" formControlName="city" placeholder="city" />
        </div>

        <div class="app-form-input-group app-form-input-group--twoCols">
          <div class="app-form-input" [class.hasValue]="customerForm.value.country">
            <label class="app-form-input__label">Country</label>
            <input type="text" formControlName="country" placeholder="Country" />
          </div>
          <div class="app-form-input" [class.hasValue]="customerForm.value.postal">
            <label class="app-form-input__label">Postal Code</label>
            <input type="text" formControlName="postal" placeholder="Postal Code" />
          </div>
        </div>

        <div class="app-form-input app-form-input--block" [class.hasValue]="customerForm.value.phone">
          <label class="app-form-input__label">Phone</label>
          <input type="text" formControlName="phone" placeholder="Phone (required)" />
        </div>

        <div class="app-form-input app-form-input--checkbox">
          <label>
            <input type="checkbox" formControlName="saveInfo" />
            <span></span>Save this information for next time
          </label>
        </div>

        <div class="app-form__actions">
          <button type="submit" class="app-button app-button--secondary app-button--big">Continue to shipping method</button>
        </div>
      </form>

    </section>

    <app-footer></app-footer>
  </section>

</section>
