@import '../../../assets/sass/variables',
        '../../../assets/sass/colors',
        '../../../assets/sass/mixin',
        '../../../assets/sass/fonts';

img.logo {
  width: 124px;
}

.show {
  display: block;
}

.app-header {
  .app-header__main {
    padding: 20px 20px 14px 20px;
    height: 72px;
  }
  .app-header__sub {
    cursor: pointer;
    display: block;
    padding: 16px 20px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    background: $color-bg;
    @include clearfix();
    button {
      @include appearance(none);
      background: inherit;
      border: none;
      font-size: $small-size + 2;
      color: $color-link;
      float: left;
      cursor: pointer;
      outline: none;
      span {
        margin: 0 4px;
      }
      span + i {
        font-size: $medium-size;
      }
      i.fa-shopping-cart {
        font-size: $icon-size;
      }
    }
    strong {
      float: right;
      font-size: $medium-size;
    }
  }
}

.app-container__basket {
  &.mobile-only {
    display: none;
    &.show {
      display: block;
    }
  }
}

@media screen and (min-width: $desktop-min-size) {
  img.logo {
    width: 165px;
  }

  .app-header {
    .app-header__main {
      height: auto;
      padding: 40px 20px 14px 20px;
    }
    .app-header__sub {
      display: none;
    }
  }


}
