<header class="app-header">
  <section class="app-header__main">
    <img src="assets/images/boosted-logo.png" class="logo" />
  </section>

  <section class="app-header__sub" (click)="toggle()">
    <button>
      <i class="fa fa-shopping-cart"></i>
      <span>{{ showButton }}</span>

      <i class="fa" [ngClass]="isOpen ? 'fa-angle-up' : 'fa-angle-down'"></i>
    </button>

    <strong>$1,199.00</strong>
  </section>

  <div class="app-container__basket mobile-only" [class.show]="isOpen">
    <app-basket></app-basket>
  </div>
</header>
