<section class="basket-container">

  <ul class="basket">
    <li>
      <div class="basket__thumbnail">
        <img src="assets/images/thumbnail-image.jpg" />
        <span class="basket__counter">1</span>
      </div>
      <div class="basket__description">
        <article>
          <span>2nd Gen Boosted Board</span>
          <small>Dual+ with Standard Range Battery / NA</small>
        </article>
        <aside>
          <small>$1,499.00</small>
          <span>$1,199.00</span>
        </aside>
      </div>
    </li>
    <li>
      <div class="basket__thumbnail">
        <img src="assets/images/thumbnail-image.jpg" />
        <span class="basket__counter">1</span>
      </div>
      <div class="basket__description">
        <article>
          <span>Extended Range Battery Reservation</span>
        </article>
        <aside>
          <small>$1,499.00</small>
          <span>$1,199.00</span>
        </aside>
      </div>
    </li>
  </ul>

  <hr />

  <section class="notes">
    <p>Notes about your order</p>

    <ul>
      <li><strong>Limited Time Offer:</strong> 20% off 2nd Gen Boards.</li>
      <li><strong>Limited Time Offer:</strong> $200 Extended Range Battery discount applied.</li>
      <li><strong>Limited Time Offer:</strong> Looking for <span>Affirm</span> 0% APR financing?</li>
      <li>Your board will ship in 1-2 business days.</li>
      <li>Your board will ship with a standard range battery pack at your scheduled shipping time.</li>
      <li>We will reach out to collect final payment once your battery is ready to ship. You may cancel without penalty at any time.</li>
    </ul>
  </section>

  <p><a href="#">Have a gift card?</a></p>

  <hr />

  <ul class="basket basket--total">
    <li>
      <div class="basket__description">
        <article>Subtotal </article>
        <aside>$1,199.00</aside>
      </div>
    </li>
    <li>
      <div class="basket__description">
        <article>Shipping</article>
        <aside>-</aside>
      </div>
    </li>
  </ul>

  <hr />

  <ul class="basket basket--total">
    <li>
      <div class="basket__description">
        <article>Total </article>
        <aside class="big"><sup>USD</sup><span>$1,199.00</span></aside>
      </div>
    </li>
  </ul>

</section>
