@import '../../../assets/sass/variables',
        '../../../assets/sass/colors',
        '../../../assets/sass/mixin';

.basket {
  list-style: none;
  margin: 0;
  li {
    display: block;
    @include clearfix();
    @include valign-elements();
    margin: 14px 0;

    .basket__thumbnail {
      width: 78px;
      float: left;
      padding-right: 14px;
      position: relative;

      img {
        width: 100%;
        height: auto;
        border: 1px solid $color-border;
        @include border-radius(6px);
        margin: 0;
      }
      img + span {
        position: absolute;
        top: -9px;
        margin-left: -10px;
        background: $color-grey-dark;
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 78%;
        text-align: center;
        @include border-radius(100%);
        color: $color-white;
        line-height: 20px;
      }
    }
    .basket__description {
      @include calc(width, "100% - 78px");
      @include box-sizing(border-box);
      float: right;
      article {
        width: 60%;
        float: left;
        small, span {
          display: block;
        }
        span {
          font-weight: 500;
        }
      }
      aside {
        width: 40%;
        float: right;
        text-align: right;
        small {
          text-decoration: line-through;
        }
        span {
          font-weight: 500;
        }
        small, span {
          display: block;
        }
      }
    }
  }

  &.basket--total {
    li {
      margin: 10px 0;
      .basket__thumbnail {
        display: none;
      }
      .basket__description {
        width: 100%;
        article {
          width: 40%;
        }
        aside {
          width: 60%;
          &.big {
            sup {
              margin-right: 10px;
              position: relative;
              top: -4px;
              color: $color-label;
            }
            span {
              font-size: 16pt;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

// Notes
.notes {
  background: $color-basket-notes;
  padding: 26px 20px;
  margin-bottom: 20px;
  @include border-radius(4px);

  > p {
    margin-top: 0;
  }
  ul {
    padding-left: 14px;
    margin-bottom: 0;
    li:not(:last-child) {
      margin-bottom: 12px;
    }
  }

}
