<section class="app-container">

  <!-- Cart/ Basket -->
  <aside class="app-container__basket desktop-only">
    <app-basket></app-basket>
  </aside>

  <!-- Customer Information -->
  <section class="app-container__content">

    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>

    <section class="content-container">

      <div class="app-card">
        <section class="app-card__item">
          <div>Shipping address</div>
          <address>2145 Market Street, San Francisco CA 94114, United States</address>
          <aside>
            <a href="#">Edit</a>
          </aside>
        </section>
        <section class="app-card__item">
          <div>Shipping method</div>
          <address>Free Ground Shipping</address>
          <aside>
            <a href="#">Edit</a>
          </aside>
        </section>
      </div>

      <br />
      <h2 class="no-margin-bottom">Payment method</h2>
      <p>All transactions are secure and encrypted.</p>

      <div class="notification" [class.notification--error]="error">
        {{ error }}
      </div>

      <form class="app-form" [formGroup]="paymentForm">
        <app-accordion>
          <app-accordion-panel [title]="'Credit Card'" [name]="'method'" [isCC]="true" [desc]="'and more...'">
            <div class="app-form__child">

              <div class="app-form-input app-form-input--block app-form-input--icon">
                <input type="text" [textMask]="{mask: cardNumber}" formControlName="cardNumber" placeholder="Card Number" />
                <i class="fa fa-lock"></i>
              </div>

              <div class="app-form-input-group app-form-input-group--3Cols">
                <div class="app-form-input app-form-input--icon">
                  <input type="text" formControlName="name" placeholder="Cardholder Name" />
                </div>
                <div class="app-form-input">
                  <input type="text" formControlName="date" [textMask]="{mask: expiration}" placeholder="MM / YY" />
                </div>
                <div class="app-form-input app-form-input--icon">
                  <input type="number" formControlName="cvv" placeholder="CVV" />
                  <i class="fa fa-question-circle"></i>
                </div>
              </div>

            </div>
          </app-accordion-panel>

          <!-- <app-accordion-panel [title]="'Paypal'" [name]="'method'"  [imgSrc]="'./assets/images/paypal.jpg'">
            <div class="app-form__child">CONTENT 2</div>
          </app-accordion-panel> -->
          <app-accordion-panel [title]="" [name]="'method'" [imgSrc]="'./assets/images/amazonpay-white.png'">
            <div class="app-form__child offsite">
              <img src="./assets/images/offsite.png" />
              <p>You will be asked to login with Amazon.</p>
            </div>
          </app-accordion-panel>
          <app-accordion-panel [title]="''" [name]="'method'" [imgSrc]="'./assets/images/affirm.png'">
            <div class="app-form__child offsite">
              <img src="./assets/images/offsite.png" />
              <p>After clicking “Complete order”, you will be redirected to<br /> Affirm to complete your purchase securely.</p>
            </div>
          </app-accordion-panel>
        </app-accordion>


        <h2>Billing address</h2>

        <app-accordion>
          <app-accordion-panel [title]="'Same as shipping address'" [name]="'billing'" [desc]=""></app-accordion-panel>
          <app-accordion-panel [title]="'Use a different billing address'" [name]="'billing'" [desc]="">
            <div class="app-form__child padding-top">

              <div class="app-form-input-group app-form-input-group--twoCols">
                <div class="app-form-input">
                  <label class="app-form-input__label">First Name</label>
                  <input type="text" placeholder="First Name" />
                </div>
                <div class="app-form-input">
                  <label class="app-form-input__label">Last Name</label>
                  <input type="text" placeholder="Last Name" />
                </div>
              </div>

              <div class="app-form-input app-form-input--block">
                <label class="app-form-input__label">Company</label>
                <input type="text" placeholder="Company (optional)" />
              </div>

              <div class="app-form-input app-form-input--block">
                <label class="app-form-input__label">Address</label>
                <input type="text" placeholder="Address" />
              </div>

              <div class="app-form-input app-form-input--block">
                <label class="app-form-input__label">Apartment</label>
                <input type="text" placeholder="Apartment, suite, etc. (optional)" />
              </div>

              <div class="app-form-input app-form-input--block">
                <label class="app-form-input__label">City</label>
                <input type="text" placeholder="city" />
              </div>

              <div class="app-form-input-group app-form-input-group--twoCols">
                <div class="app-form-input">
                  <label class="app-form-input__label">Country</label>
                  <input type="text" placeholder="Country" />
                </div>
                <div class="app-form-input">
                  <label class="app-form-input__label">Postal Code</label>
                  <input type="text" placeholder="Postal Code" />
                </div>
              </div>

              <div class="app-form-input app-form-input--block">
                <label class="app-form-input__label">Phone</label>
                <input type="text" placeholder="Phone (required)" value="5433 4355" />
              </div>

            </div>
          </app-accordion-panel>
        </app-accordion>

        <div class="app-form__actions">
          <button type="submit" class="app-button app-button--secondary app-button--big" (click)="submitForm()">Complete order</button>
          <a routerLink="/shipping-method"><i class="fa fa-angle-left"></i> Return to shipping method</a>
        </div>
      </form>
    </section>

    <app-footer></app-footer>
  </section>
</section>
