@import '../../assets/sass/variables',
        '../../assets/sass/colors',
        '../../assets/sass/mixin';

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-margin-bottom + p {
  margin-top: 3px;
  margin-bottom: 30px;
}

.notification {
  @include border-radius(4px);
  &.notification--error {
    padding: 16px;
    margin-bottom: 22px;
    background: $color-error;
    color: $color-white;
  }
}

.offsite {
  text-align: center;
  padding-top: 30px;
}

.padding-top {
  padding-top: 30px;
}
