<div class="accordion-panel">

    <header class="accordion-panel__header" (click)="toggle()"  [class.active]="show">

      <div class="app-form-input app-form-input--checkbox">
        <label (click)="toggle()">
          <input type="radio" name="{{name}}" (click)="toggle()" />
          {{ title }}
          <span class="radio"></span>

          <img [src]="imgSrc" *ngIf="imgSrc" (click)="toggle()" />

          <div>
            <em>{{ desc }}</em>
            <ul class="cc-icons" *ngIf="isCC">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </label>
      </div>

    </header>

    <!-- BODY -->
    <article class="accordion-panel__body" *ngIf="show" [class.active]="show">
        <ng-content></ng-content>
    </article>

</div>
