.app-footer {
  padding: 16px 10px;
  margin-top: 40px;
  a:not(:last-child) {
    margin-right: 18px;
  }
}

@media screen and (min-width: 768px) {
  .app-footer {
    padding: 16px 0;
    margin: 0px 54px 0px 28px;
  }
}
