<section class="app-container">

  <!-- Cart/ Basket -->
  <aside class="app-container__basket desktop-only">
    <app-basket></app-basket>
  </aside>

  <!-- Customer Information -->
  <section class="app-container__content">

    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>

    <section class="content-container">

      <div class="app-card">
        <section class="app-card__item">
          <div>Shipping address</div>
          <address>2145 Market Street, San Francisco CA 94114, United States</address>
          <aside>
            <a href="#">Edit</a>
          </aside>
        </section>
      </div>

      <br />
      <h2>Shipping method</h2>

      <form class="app-form">
        <app-accordion>
          <app-accordion-panel [title]="'Free Ground Shipping'" [desc]="'Free'">

          </app-accordion-panel>
        </app-accordion>
        <br />

        <div class="app-form__actions">
          <button type="submit" class="app-button app-button--secondary app-button--big" (click)="continue()">Continue to payment method</button>
          <a routerLink="/customer-information"><i class="fa fa-angle-left"></i> Return to customer information</a>
        </div>
      </form>
    </section>

    <app-footer></app-footer>
  </section>

</section>
