.accordion {
  border: 1px solid $color-border;
  display: block;
  @include border-radius(6px);
  margin-bottom: 30px;

  .accordion-panel {
    .accordion-panel__header {
      border-bottom: 1px solid $color-border;
      .app-form-input.app-form-input--checkbox {
        margin: 0;
        label {
          position: relative;
          @include clearfix();
          padding: 12px 16px 9px 16px;
          img {
            max-height: 24px;
            position: relative;
            margin-top: -4px;
          }
          div {
            float: right;
            position: relative;

            em {
              float: right;
              display: none;
            }
            .cc-icons {
              list-style: none;
              margin: -3px 10px 0 0;
              float: right;
              position: relative;
              li {
                display: inline-block;
                width: 38px;
                height: 24px;
                margin: 0 3px;

                &:nth-child(1) {
                  background-image: url('/assets/images/visa.png');
                  background-image: url('/assets/images/visa.svg');
                }
                &:nth-child(2) {
                  background-image: url('/assets/images/master.png');
                  background-image: url('/assets/images/master.svg');
                }
                &:nth-child(3) {
                  background-image: url('/assets/images/american_express.png');
                  background-image: url('/assets/images/american_express.svg');
                }
                &:nth-child(4) {
                  background-image: url('/assets/images/discover.png');
                  background-image: url('/assets/images/discover.svg');
                }
              }
            }
          }
        }
      }

    }
    .accordion-panel__body {
      background: $color-grey-lightest;
      border-bottom: 1px solid $color-border;

    }
  }

  .app-form__child {
    padding: 10px 16px 16px 16px;
  }

}

@media screen and (min-width: $desktop-min-size) {
  .accordion {
    .accordion-panel {
      .accordion-panel__header {
        .app-form-input.app-form-input--checkbox {
          label {
            div {
              em {display: inline-block;}
            }
          }
        }
      }
    }
  }
}
