// Links
a {
  color: $color-link;
  text-decoration: none;
  outline: none;
  &:hover {
    color: $color-link-hover;
  }
}

// breadcrumbs
.breadcrumbs {
  display: none;
  ul {
    list-style: none;
    margin-bottom: 10px;
    li {
      display: inline-block;
      &:not(:last-child) {
        &:after {
          @extend .fa;
          content: "\f105";
          margin: 0 8px 0 6px;
          font-size: 120%;
          color: $color-breadcrumb-link;
        }
      }
      a {
        color: $color-breadcrumb-link;
        font-size: 92%;
        &.active {
          color: $color-breadcrumb-active;
          font-weight: $font-bold;
        }
      }
    }
  }
}

// Common button
.app-button {
  @include border-radius(5px);
  cursor: pointer;
  outline: none;
  min-height: 54px;
  margin: 10px 0px;
  overflow: hidden;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  font-weight: $font-bold;

  img {
    max-height: 28px;
    position: relative;
    top: 14px;
  }

  &.app-button--paypal {
    background: $color-paypal;
  }
  &.app-button--amazon {
    background: $color-amazon;
  }
  &.app-button--primary {

  }
  &.app-button--secondary {
    background: $color-secondary;
    border: 1px solid $color-secondary;
    color: $color-white;
    &:hover {
      background: darken($color-secondary, 10);
      border: 1px solid darken($color-secondary, 10);
    }
  }
  &.app-button--big {
    min-height: 58px;
    padding: 0 18px;
  }
}

.social-buttons {
  padding: 10px 0 0;
}

@media screen and (min-width: $desktop-min-size) {
  .breadcrumbs {
    display: block;
  }
  .app-button {
    display: inline-block;
    margin: 10px 5px;
    width: auto;
    min-width: 150px;
    min-height: 42px;
    img {
      top: 7px;
    }
  }
}
