.app-card {
  background: $color-grey-lightest;
  border: 1px solid $color-border;
  padding: 0 16px;
  margin: 14px 0;
  @include border-radius(6px);
  .app-card__item {
    padding: 16px 0;
    display: block;
    @include clearfix();
    div, address, article,aside {
      float: left;
    }
    div {
      width: 25%;
    }
    article, address {
      width: 63%;
      padding: 0 1%;
      color: $color-grey;
    }
    aside {
      width: 10%;
      text-align: right;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
  }
}
