$color-orange: #f1532e;
$color-blue: #95cfda;
$color-blue-sky: #00c2f4;
$color-black: #303030;
$color-black-light: #545454;
$color-black-lighter: #737373;
$color-grey: #999999;
$color-grey-light: #d9d9d9;
$color-grey-lighter: #f2f2f2;
$color-grey-lighter2: #fcfcfc;
$color-grey-lightest: #fafafa;
$color-grey-dark: #a6a6a6;
$color-yellow: #fad676;
$color-yellow-dark: #ffc621;
$color-red: #ff6d6d;
$color-white: #ffffff;

// breadcrumbs
$color-breadcrumb-link: $color-black-lighter;
$color-breadcrumb-active: $color-black;

// Input/ forms
$color-border: $color-grey-light !default;
$color-bg: $color-grey-lightest !default;
$color-input-placeholder: $color-grey !default;

// Layout
$color-basket-bg: $color-grey-lighter !default;
$color-basket-notes: $color-grey-lighter2 !default;
$color-label: $color-grey !default;
$color-text: $color-black-light !default;
$color-heading: $color-black !default;

// Primary
$color-primary: $color-blue !default;
$color-secondary: $color-orange !default;

// Link
$color-link: $color-blue !default;
$color-link-hover: darken($color-blue, 20);

// Button
$color-button: $color-orange !default;
$color-button-hover: darken($color-orange, 20);
$color-paypal: $color-yellow-dark !default;
$color-amazon: $color-yellow !default;

// Notification Colors
$color-error: $color-red !default;
