// External Font
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700');

// Default Text Font
$app-font:                  'Helvetica Neue', sans-serif !default;

// Font weight
$font-light:                300 !default;
$font-base:                 400 !default;
$font-bold:                 500 !default;
$font-bolder:               600 !default;

// Font size
$small-size:                12px;
$regular-size:              14px;
$medium-size:               16px;
$icon-size:                 18px
