.app-form {
  .app-form__actions {
    button {
      display: block;
    }
  }
}

// Input Groupings
.app-form-input-group {
  display: block;
  &.app-form-input-group--twoCols,
  &.app-form-input-group--3Cols {
    .app-form-input {
      input:not([type='checkbox']),
      input:not([type='radio']) {
        width: 100%;
      }
    }
  }
  &.app-form-input-group--3Cols {

  }
}

@media screen and (min-width: $desktop-min-size) {
  .app-form-input-group {
    &.app-form-input-group--twoCols {
      @include clearfix();
      .app-form-input {
        width: 50%;
        float: left;
        margin: 0;
        &:first-child {
          // padding-right: 6px;
          input {
            margin-right: 6px;
            @include calc(width, "100% - 6px");
          }
        }
        &:last-child {
          // padding-left: 6px;
          input {
            margin-left: 6px;
            @include calc(width, "100% - 6px");
          }
        }
      }
    }
    &.app-form-input-group--3Cols {
      @include clearfix();
      .app-form-input {
        float: left;
        margin: 0;
        &:nth-child(1) {
          margin-right: 5px;
          @include calc(width, '50% - 5px');
          // width: 50%;
        }
        &:nth-child(2) {
          margin-right: 5px;
          margin-left: 5px;
          @include calc(width, '25% - 10px');
        }
        &:nth-child(3) {
          margin-left: 5px;
          @include calc(width, '25% - 5px');
        }
      }
    }
  }

  .app-form {
    .app-form__actions {
      @include clearfix();
      width: 100%;
      a {
        float: left;
        margin: 24px 0;
        @include valign-elements();
        i {
          font-size: 150%;
          margin-right: 6px;
        }
      }
      button {
        display: inline-block;
        float: right;
        margin-right: 0;
      }
    }
  }
}

// Inputs
.app-form-input {
  position: relative;
  margin: 12px 0;

  &.hasValue {
    .app-form-input__label {
      opacity: 1;
      top: 7px;
      left: 14px;
      @include transition(all 0.2s ease-out);
      @include transform(none);
    }
    input:not([type='checkbox']) {
      padding: 18px 10px 5px 13px;
    }
  }

  .app-form-input__label {
    position: absolute;
    color: $color-label;
    font-size: $small-size;
    opacity: 0;
    @include transform(translateY(3px));
  }

  input:not([type='checkbox']),
  input:not([type='radio']) {
    min-height: 44px;
    padding: 12px;
    font-size: $regular-size;
    color: $color-text;
    border: 1px solid $color-border;
    @include appearance(none);
    @include border-radius(4px);
    outline: none;
    &:focus {
      border: 1px solid $color-link;
      @include box-shadow(0 0 0 1px $color-link);
      @include transition(all 0.2s ease-out);
    }
    &.ng-invalid {
      &.ng-touched {
        border-color: $color-error;
        @include box-shadow(0 0 0 1px $color-error);
        @include transition(all 0.2s ease-out);
      }
    }
  }

  &.app-form-input--icon {
    i {
      position: absolute;
      top: 13px;
      right: 12px;
      color: #919191;
      font-size: 18px;
    }
  }
  &.app-form-input--block {
    display: block;
    input:not([type='checkbox']) {
      width: 100%;
    }
  }
  &.app-form-input--checkbox {
    padding: 5px 0;
    label {
      display: block;
      cursor: pointer;
      input {
        display: none;

        &:checked + {
          span {
            background: $color-primary;
            border: 1px solid $color-primary;
            @include transition(background-color 0.5s);
            &.radio {
              &:after {
                content: "\f111";
                font-size: 50%;
              }
            }
          }
          :after {
              @extend .fa;
              content: "\f00c";
              color: $color-white;
              opacity: 1;
              @include transition(background-color 0.5s);
          }
        }
      }
      span {
        width: 18px;
        height: 18px;
        line-height: 18px;
        float: left;
        background: $color-white;
        border: 1px solid $color-border;
        font-size: 14px;
        margin-right: 10px;
        margin-top: -2px;
        @include border-radius(3px);
        @include center-elements();
        &.radio {
          @include border-radius(18px);
        }
        :after {
            @extend .fa;
            content: '';
            display: block;
            color: $color-white;
        }
      }
    }
  }

}
