.app-container {
  max-width: 1100px;
  margin: 0 auto;

  .app-container__basket {
    padding: 20px;
    background: $color-basket-bg;
    &.desktop-only {
      display: none;
    }
  }
  .app-container__content {
    background: $color-white;

    display: block;
    .content-container {
      margin: 20px;
    }
  }
  .app-footer {
    border-top: 1px solid $color-border;
  }
}

@media screen and (min-width: $desktop-min-size) {
  body {
    &:after {
      content: '';
      position: fixed;
      z-index: -1;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: $color-basket-bg;
      background-attachment: fixed;
      background-repeat: repeat;
    }
  }

  .shipping {
    .app-container {
      .app-container__content {
        position: relative;
        min-height: 880px;
        .app-footer {
          position: absolute;
          width: 88%;
          bottom: 0;
        }
      }
    }
  }

  .app-container {
    @include clearfix();
    height: 100vh;

    .app-container__basket {
      width: 40%;
      float: right;
      padding: 30px;

      &.mobile-only {
        width: 100%;
      }

      &.desktop-only {
        display: block;
      }

      .basket-container {
        max-width: 420px;
      }
    }
    .app-container__content {
      width: 60%;
      min-height: 100vh;
      float: left;
      @include clearfix();
      .content-container {
        margin: 0;
        padding: 10px 54px 30px 28px;
        display: block;
      }
    }
  }
}
