//Clearing
@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
    display: table;
    content: "";
    line-height: 0;
    }
    &:after {
    clear: both;
    }
}

@mixin text-size-adjust($size) {
    -webkit-text-size-adjust: $size;
	-ms-text-size-adjust: $size;
}

// Curvy edges
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
       -o-border-radius: $radius;
}

//appearance
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance:    $value;
  appearance:         $value;
}

// Background Size (cover, 100%)
@mixin bg-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

// Box Sizing (border-box, content-box, initial)
@mixin box-sizing($sizing) {
  webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	box-sizing: $sizing;
}

// Box shadow
@mixin box-shadow($value) {
  -moz-box-shadow:    $value;
  -webkit-box-shadow: $value;
  box-shadow:         $value;
}

// to center child elements
@mixin center-elements() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background-position: center;
}

@mixin align-left-elements() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-content: stretch;
  align-items: right;
  background-position: right;
}

// to vertical align a child elements
@mixin valign-elements() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

//e.g. @include calc(width, "25% - 1em");
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// transform
@mixin transform($val) {
  -webkit-transform: $val;
  transform: $val;
}

// transition
@mixin transition($val) {
  -webkit-transition: $val;
  transition: $val;
}

@mixin element-order($value) {
  order: $value;
  -webkit-order: $value;
}
