html {
	font-family: $app-font;
  @include text-size-adjust(100%);
  @include box-sizing(border-box);
	* {
		@include box-sizing(border-box);
	}
}

body {
	margin: 0;
	font-size: $regular-size;
	color: $color-text;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: $font-bold;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
    @include box-sizing(content-box);
		margin: 25px 0 !important;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}


/** Elements **/
hr {
	background-color: $color-border;
	border: 0;
	height: 1px;
	margin: 40px 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid $color-border;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: $font-base;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: $font-bold;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: $color-input-placeholder;
	font-family: $app-font;
	font-weight: $font-base;
}

:-moz-placeholder {
	color: $color-input-placeholder;
	font-family: $app-font;
	font-weight: $font-base;
}

::-moz-placeholder {
	color: $color-input-placeholder;
	font-family: $app-font;
	opacity: 1;
	font-weight: $font-base;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: $color-input-placeholder;
	font-family: $app-font;
	font-weight: $font-base;
}

// remove firefox outline
button::-moz-focus-inner {
  border: 0;
}

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}
