small {
  color: $color-label;
  font-size: $small-size;
}

strong {
  font-weight: $font-bolder;
}

h1, h2, h3 {
  // margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  line-height: 1.3em;
  color: $color-heading;
}

h3 {
  &.divider {
    text-align: center;
    position: relative;
    margin: 18px 0;
    span {
      padding: 4px 10px;
      background: $color-white;
      position: relative;
      z-index: 2;
      color: $color-black-lighter;
      text-transform: uppercase;
      font-size: 75%;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 10px;
      z-index: 1;
      background: $color-border;
    }
  }
}
