// Page Size
$desktop-min-size:          768px !default; // ipad is my minimum desktop size
$app-min-size:              375px !default;

// Line-height
$line-height-base:          140% !default;
$line-height-heading:       120% !default;
